<div class="grid">
  <div class="side leftSide">
    <div style="writing-mode: vertical-lr; text-orientation: mixed; align-self: flex-end;">
      <div style="display: flex; flex-direction: row">
        <div style="align-self: center; margin-bottom: 2em;">
          <a href="https://www.instagram.com/nikostratil/" target="_blank">
            <img src="assets/insta.png" height="35" width="35">
          </a>
          <a href="https://twitter.com/nikostra_" target="_blank">
            <img src="assets/twitter.png" height="35" width="35">
          </a>
          <a href="https://github.com/nikostra" target="_blank">
            <img src="assets/git.png" height="35" width="35">
          </a>
          <a href="https://www.instagram.com/nikostratil/" target="_blank">
            <img src="assets/linkedin.png" height="35" width="35">
          </a>

        </div>
        <div style="border-left: 2px solid black; height: 100px; align-self: center"></div>
      </div>
    </div>

  </div>
  <div class="main">
    <div style="display: flex; justify-content: center">
      <img src="assets/header4.jpg" class="image">
    </div>

    <div class="about">
      <h1>NIKOLAUS STRATIL-SAUER</h1>
    </div>

    <div>
      Projects
    </div>

    <div>
      Footer
    </div>
  </div>
  <div class="side rightSide">
    <div style="writing-mode: vertical-lr; text-orientation: mixed; align-self: flex-end;">
      <div style="display: flex; flex-direction: row">
        <p style="align-self: center; margin-bottom: 2em;">niko.stratil@gmail.com</p>
        <div style="border-left: 2px solid black; height: 100px; align-self: center"></div>
      </div>
    </div>
  </div>
</div>
