.main{
  background: black;
  color: #c4d6f1;
  font-family: 'Open Sans', sans-serif;
  width: 84vw;
  max-width: 1700px;
  height: fit-content;
  margin-left: 8vw;
}

@media (min-width: 1700px) {
  .empty{
    width: 100%;
  }
  .emptyleft{
    margin-left: -8vw;

  }
}

.side{
  position: fixed;
  top: 0;
  bottom: 0;
  height: 100%;
  min-width: 8vw;
  font-family: 'Open Sans', sans-serif;
}

.leftSide{
  left: 0;
  display: flex;
  justify-content: center;

}

.rightSide{
  right: 0;
  display: flex;
  justify-content: center;
}

.about{
  display: grid;
  grid-template-columns: 40% 60%;
  height: fit-content;
}

.content{
  padding-left: 2em;
  padding-right: 2em;
}

h1{
  font-family: 'Staatliches', cursive;
}

h2{
  font-family: 'Staatliches', cursive;
}

.image{
  width: 83vw;
  max-width: 1700px;
  border: 7px black solid;
  border-top: 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.grid{
  display: flex;
  grid-template-columns: 5% 90% 5%;
}

a img{
  margin: 0.5em;
}

.divider{
  border-top: 3px #c4d6f1 solid;
  width: 90%;
  border-radius: 3px;
  margin: 3em auto;
}

.projects{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.projectCard{
  border: 3px solid #c4d6f1;
  padding: 1em;
  margin: 4em 1em;
  border-radius: 10px;
  display: flex;
  background: #22364f;
}

.projectText{
  display: flex;
  flex-direction: column;
  width: 45%;
  margin-left: 1em;
}

.projectTech{
  font-family: 'Roboto Mono', monospace;
}

.projectTech > span{
  font-size: 0.75em;
  text-align: right;
  margin-left: 2.5em;
  margin-bottom: 1em;
  display: inline-block;
  width: max-content;
  border: 3px black solid;
  border-radius: 10px;
  background: black;
  padding: 0.25em;
}

a:visited{
  color: white;
}
