.main{
  background: black;
  color: #c4d6f1;
  font-family: 'Open Sans', sans-serif;
  width: 84vw;
  height: fit-content;
  margin-left: 7.5vw;
}

.side{
  position: fixed;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 7.5vw;
  font-family: 'Open Sans', sans-serif;
}

.leftSide{
  left: 0;
  display: flex;
  justify-content: center;

}

.rightSide{
  right: 0;
  display: flex;
  justify-content: center;
}

.about{
  padding-left: 2em;
}

h1{
  font-family: 'Staatliches', cursive;
}

.image{
  width: 84vw;
  border: 10px black solid;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.grid{
  display: grid;
  grid-template-columns: 5% 90% 5%;
}

a img{
  margin: 0.5em;
}
